@import '../vars';
@import '../mixins';

.footer {
  background-color: $colorFooter;
  padding: 8rem 0;
  @include breakpoint($xl-bp) {
    padding: 6rem 0;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    @include breakpoint($xl-bp) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__nav-part {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    @include breakpoint($xl-bp) {
      flex-direction: row;
      gap: 8rem;
    }
  }

  &__nav-logo {
    display: flex;
    gap: 2rem;
    @include breakpoint($xl-bp) {
      flex-direction: column;
    }
  }

  &__nav .menu__list {
    flex-direction: column;
    color: $colorWhite;
    gap: 2rem;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 8rem;
    @include breakpoint($xl-bp) {
      border-top: 0.1rem solid $colorBorder;
      border-bottom: 0.1rem solid $colorBorder;
      order: 3;
      padding: 6rem 0;
      gap: 3rem;
    }
  }

  &__location {
    color: $colorWhite;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 0.1rem solid $colorBorder;
    border-left: 0.1rem solid $colorBorder;
    padding: 0 14.5rem 0 8rem;
    @include breakpoint($xl-bp) {
      border-right: none;
      border-left: none;
      order: 4;
      padding: 6rem 0;
      gap: 3rem;
    }
  }

  &__tel {
    @include sub-title;
    color: $colorWhite;
    div a {
      &:hover {
        color: $colorBg;
      }
    }
  }

  &__company {
    @include text-sm;
    & div:hover {
      cursor: pointer;
      @include color-opacity;
    }
  }

  &__adress {
    @include text;
    & p a:hover {
      cursor: pointer;
      @include color-opacity;
    }
  }

  &__social {
    width: 4rem;
    height: 4rem;
  }

  &__icon {
    display: flex;
    gap: 3rem;
    align-items: flex-end;
    @include breakpoint($xl-bp) {
      transform: translate(-12rem, -3.6rem);
    }
  }
}